:root {
  --primary-color: #003049;
  --secondary-color: #669bbc;
  --accent1-color: #f77f00;
  --accent2-color: #eae2b7;

  --heading-font: "Arial Black", sans-serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
  text-decoration: none;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.75;
  background-color: var(--accent1-color);
  color: white;
  font-size: 2rem;
}

.hero article {
  position: absolute;
  bottom: 20px;
  background: white;
  opacity: 0.85;
  padding: 16px;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.hero article img {
  float: right;
  width: 125px;
  margin-left: 12px;
  border-radius: 4px;
}

footer {
  text-align: center;
  padding-bottom: 20px;
}

.socialmedia img {
  margin: 0 8px;
}